@import 'vendor/normalize';
@import 'vendor/border-box';
@import 'theme';

body {
  color: $brown-black;
  background-color: $white;
  display: flex;
  flex-flow: column;
  font-family: $body-font;
  font-size: 1.2em;
  //min-height: 100%;
}

html {
  height: 100%;
}

a {
  color: lighten($brown-black, 10%);

  &:hover {
    color: darken($brown-black, 10%);
  }
}

h1 {
  font-size: 1.8em;
  width: 100%;
  //text-align: center;
  padding-left: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  color: $heading-on-bright;
}

header {
  align-content: center;
  background-color: $orange-primary;
  box-shadow: $shadow-default;
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
  justify-content: space-between;
  //position: sticky;
  //top: 0;
  //z-index: 1;

  & a {
    color: $text-on-dark;
    @include hover-transform;

    &:hover {
      color: darken($text-on-dark, 10%);
    }
  }
}

.header-logo {
  &-text {
    font-family: $title-font;
  }

  & a {
    text-decoration: none;
  }
}

.header-logo-text {
  color: $text-on-dark;
  font-size: 3em;
  margin: 20px 12px 20px 12px;
  padding: 0;
}

.header-menu {
  align-items: center;
  display: flex;

  & ul {
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    margin: 5px;
    padding: 0 20px 0 5px;
  }

  & li {
    margin: 0 0 15px 0;

    &:last-child {
      margin: 0 0 5px 0;
    }
  }
}

.content {
  align-items: center;
  display: flex;
  flex-flow: column;
  flex: 1 0 auto;
  box-shadow: $shadow-default;
  position: relative;
}

footer {
  background-color: $gray-light;
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
  justify-content: space-between;
  width: 100%;

  & ul {
    list-style: none;
    padding: 0 16px;
  }

  & li {
    margin-bottom: 10px;
  }
}

.footer-menu {
  & ul {
    padding: 0 5px;
  }

  order: 3;
}

.footer-social-media {
  & img {
    height: 35px;
    opacity: 0.5;
    @include hover-transform;

    &:hover {
      opacity: .7;
    }

    order: 2;
  }

  & ul {
    display: flex;
    flex-flow: column nowrap;
  }

  & li {
    margin-left: 16px;
  }
}

.notice {
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.8em;
  justify-content: center;
  padding: 10px;
  text-align: center;

  & img {
    height: 70px;
    opacity: 0.7;
    @include hover-transform;

    &:hover {
      opacity: 1;
    }
  }

}

/******* Begin app media queries *******/

@media(min-width: 450px) {
  .header-menu {
    & ul {
      flex-flow: row nowrap;
      margin: 19px 0;
      padding: 5px 25px 0 5px;
    }

    & li {
      margin: 0 0 0 30px;

      &:last-child {
        margin: 0 0 0 30px;
      }
    }
  }

  .header-logo-text {
    margin: 16px 10px;
  }

  .footer-menu {
    & ul {
      padding: 0 16px;
    }

    order: 1;
  }

  .footer-social-media {
    & img {
      height: 70px;
    }

    & ul {
      flex-flow: row nowrap;
    }

    order: 3;
  }

  .notice {
    order: 2;
  }
}

@media(min-width: 600px) {
  h1 {
    font-size: 2em;
  }

  .header-logo-text {
    font-size: 5em;
    margin: 16px;
  }

  .header-menu {
    padding: 25px 16px;
  }
}



@import 'index';
@import 'resume';