@import 'vendor/normalize';
@import 'vendor/border-box';
@import 'theme';


body {
  color: $text-on-bright;
  background-color: $background-primary;
  display: flex;
  flex-flow: column;
  font-family: $body-font;
  font-size: 1.2em;
  height: 100%;
}

html {
  height: 100%;
}

a {
  color: lighten($text-on-bright, 10%)
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

header {
  background-color: $callout-secondary;
  box-shadow: 0 5px 10px hsla(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
  justify-content: space-between;
}

.header-logo-text {
  font-size: 5em;
  margin: 16px;
}

.header-menu {
  & ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    padding: 16px;
  }

  & .work-submenu {
    flex-flow: column;
    padding: 30px;
    position: absolute;
    right: 25px;
    text-align: right;
    top: 54px;
    transform: rotate(-15deg);

    & li {
      transform: rotate(15deg);
    }
  }

  & li {
    margin-left: 16px;

    &:nth-child(3)::before {
      content: '\002b';
    }
  }


}

.work-submenu {
  background-color: $text-on-bright;
  box-shadow: 0 10px 20px hsla(0, 0, 0, 0.2);
  line-height: 2em;
  transition-duration: 0.2s;

  & a {
    color: $background-primary;
  }

  &:hover {
    opacity: 1;
    pointer-events: all;
  }
}

.content {
  align-items: center;
  display: flex;
  flex-flow: column;
  flex: 1 0 auto;
}

footer {
  background-color: $distinguishing;
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
  justify-content: space-between;
  width: 100%;

  & ul {
    list-style: none;
    padding: 0 16px;
  }
}

.footer-menu {
  & .work-submenu {
    display: none;
  }
}

.footer-social-media {
  & img {
    height: 70px;
    opacity: 0.5;
  }

  & ul {
    display: flex;
    flex-basis: row nowrap;
  }

  & li {
    margin-left: 16px;
  }
}

.notice {
  display: flex;
  flex-flow: column nowrap;
  font-size: .8em;
  justify-content: center;
  text-align: center;

  & img {
    height: 70px;
    opacity: 0.7;
    ;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

@import 'index';
@import 'resume';
@import 'work';