/* begin index */

.project {
  @include wide-section;
  box-shadow: $shadow-deep;
}

#creative {
  @include narrow-section;
}

@media (hover: hover) {
  .site-card .details:hover {
    transform: translateY(-200px);

    &::before {
      transform: rotate(180deg);
    }
  }
}

.campaign-card {
  background-color: $white;
  box-shadow: $shadow-subtle;
  margin: 0 10px 40px 10px;
  width: 95vw;
  min-height: 260px;

  img {
    width: 100%;
    box-shadow: $shadow-default;
    margin-bottom: 1em;
  }


  & .details {
    padding: 0 20px;
    //width: 98%;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    & h2,
    h3 {
      margin-top: 0;
    }
  }
}

.campaign-role,
.campaign-process {
  display: flex;
  flex-flow: row nowrap;

  &>div {
    margin: 5px;
  }

}

.campaign-process {
  text-align: center;
  justify-content: space-between;

  &>div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  & h4 {
    position: relative;
    margin-top: 0;
  }

  & h4::after {
    content: "";
    border-left: 2px solid $gray-mid;
    display: inline-block;
    height: 20px;
    width: 0;
    position: absolute;
    left: 50%;
    top: 25px;
  }
}

/******* Begin index media queries *******/

@media(min-width: 450px) {}

@media(min-width: 600px) {

  .campaign-card {
    flex-flow: column nowrap;
    margin: 0 10px 40px 10px;
    width: 90vw;
    min-width: 500px;
  }
}

@media(min-width: 1000px) {
  .campaign-card {
    display: flex;
    flex-flow: row nowrap;
    & figure{
      background-color: #eee;
      padding: 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 2em 0;

      & img{
        width: 100%;
      }
    }
  }
}

/* end index */