/* begin index */

.hero {
  width: 100vw;
  max-width: 100%;
  margin-top: 0px;

  &+h1 {
    font-size: 1.2em;
  }

  & img {
    width: 100%;
  }
}

#websites,
#campaign {
  @include wide-section;
}

#creative {
  @include narrow-section;
}

.card {
  background-color: $background-primary;
  box-shadow: $default-shadow;
  //height: 410px;
  margin: 0 10px 40px 10px;
  overflow: hidden;
  width: 95vw;
  height: 70vw;
  min-height: 260px;
  max-height: 640px;

  & figure {
    width: 100%;
    text-align: center;
    margin: 0 auto 10px auto;
  }

  img {
    width: 100%;
  }
}

.details {
  box-shadow: $deep-shadow;
  //border-top: 3px solid $text-faded;
  padding: 20px 10px 200px 10px;
  background: rgba(255, 255, 255, 1);
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 1) 52%,
      rgba(255, 255, 255, 0.5) 100%);
  position: relative;
  font-size: 0.75em;
  width: 98%;
  left: 1%;
  top: -10%; //top: -20px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  & h2 {
    display: inline;
    margin: 0px 10px;
  }

  /*
  &:hover {
    transform: translateY(-200px);

    &::before {
      transform: rotate(180deg);
    }
  }
*/
  &::before {
    content: '';
    border-right: 15px solid transparent;
    border-bottom: 15px solid $text-faded;
    border-left: 15px solid transparent;
    display: inline-block;
    position: relative;
    top: -5px;
    width: 0;
    height: 0;
    //margin-bottom: 20px;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
  }

  &.is-active {
    transform: translateY(-200px);

    &::before {
      transform: rotate(180deg);
    }
  }
}

@media (hover: hover) {
  .details:hover {
    transform: translateY(-200px);

    &::before {
      transform: rotate(180deg);
    }
  }
}

/******* Begin index media queries *******/

@media(min-width: 450px) {
  .hero+h1 {
    font-size: 2em;
  }
}

@media(min-width: 600px) {
  .card {
    margin: 0 10px 40px 10px;
    overflow: hidden;
    width: 45vw;
    min-width: 500px;
    max-width: 950px;
    height: 30vw;
    min-height: 380px;
    max-height: 640px;
  }

  .details {
    font-size: 1em;
  }
}

/* end index */