/* begin index */
.hero {
  width: 100vw;
  max-width: 100%;
  margin-top: 0px;


  & img {
    width: 100%;
  }
}

.bio {
  flex: 1 1 auto;
}

.greeting {
  font-weight: normal;
  margin: 0 0 10px 5px;
  padding-left: 0;
  width: inherit;
}

.tagline {
  font-weight: normal;
  margin: 0 0 5px 5px;
}

.bio {
  font-size: 1em;
  display: flex;
  flex-flow: column;
  margin: 0 10px;
}

.project {
  @include wide-section;
  box-shadow: $shadow-deep;
}

#creative {
  @include narrow-section;
}

.campaign-card {
  background-color: $white;
  box-shadow: $shadow-subtle;
  margin: 0 10px 40px 10px;
  width: 95vw;
  min-height: 260px;

  &:last-child{
    margin-bottom: 0;
  }

  img {
    width: 100%;
    box-shadow: $shadow-deep;
  }


  & .details {
    padding: 0 20px;

    & h2,
    h3 {
      margin-top: 0;
    }
  }
}

/******* Begin index media queries *******/

@media(min-width: 450px) {}

@media(min-width: 600px) {
  .campaign-role {
    display: flex;
    flex-flow: row nowrap;

    &>div {
      margin: 5px;
    }

  }

}

.campaign-card {
  flex-flow: column nowrap;
  margin: 0 10px 40px 10px;
  width: 90vw;
  //min-width: 500px;
}

@media(min-width: 1000px) {
  .hero {
    display: flex;
    align-items: center;
  }

  .pic {
    flex: 1 0 600px;
  }

  .campaign-card {
    display: flex;
    flex-flow: row nowrap;

    & figure {
      background-color: #eee;
      padding: 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 2em 0;
      flex-basis: 50%;
      flex-grow: 1;

      & img {
        width: 100%;
      }
    }
  }

  .details {
    flex-basis: 50%;
    flex-grow: 1;
    
  }
}

/* end index */