//colors


$white: #ffffff;
$gray-light: #d8d8d8;
$gray-mid: #a1a1a1;
$brown-black: #1a1917;
$orange-primary: #f76b21;
$orange-pale:#fde0d0;

$heading-on-bright: $orange-primary;
$text-on-dark: $white;
$text-on-bright: $brown-black;

$shadow-subtle: 0 33px 22px -35px rgba(0, 0, 0, .1);
$shadow-narrow: 0 14px 10px -11px hsla(0, 0, 0, 0.2);
$shadow-default: 0 4px 5px hsla(0, 0, 0, 0.2);
$shadow-deep: 0 4px 10px hsla(0, 0, 0, 0.4);

//typographic
$title-font: 'Arvo';
$body-font: 'Open Sans',
sans-serif;
$heading-font: 'Raleway',
serif;

//content
@mixin narrow-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 10px;
}

@mixin wide-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 2000px;
  margin: 10px;
}

//interation:
@mixin hover-transform {
  transition-duration: .2s;
  transition-timing-function: ease-out;
}