//colors

$callout-primary: #ff8949;
$callout-secondary: #ffcb8a;
$distinguishing: #DEDFD4;
$text-on-bright: #444139;
$text-faded: #ADA89C;
$background-primary: #fffcef;

//typographic
$body-font: 'Raleway',
sans-serif;
$heading-font: 'Arvo',
serif;