/* begin index */

.bio,
.expertise,
.strengths {
  display: flex;
  flex-flow: column;
  //align-self: center;
}

.bio-statement {
  align-self: center;
  display: flex;
  max-width: 1200px;

  & p {
    flex-grow: 1;
  }
}

.bio-img {
  max-width: 300px;
}

/* end index */