/* begin work */
#websites,
#campaign {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 1560px;
}

.card {
  background-color: $distinguishing;
  box-shadow: 0 7px 10px hsla(0, 0, 0, 0.4);
  height: 410px;
  margin: 0 10px 40px 10px;
  overflow: hidden;
  width: 500px;


  figure {
    width: 85%;
    text-align: center;
    margin: 15px auto;
  }

  img {
    width: 100%;
  }

  & h2 {
    white-space: nowrap;
  }
}

.details {
  box-shadow: 0 7px 10px hsla(0, 0, 0, 0.4);
  border-top: 6px solid $text-faded;
  height: 250px;
  padding: 20px 10px;
  background: rgba(255, 255, 255, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 52%, rgba(255, 255, 255, 0.5) 100%);
  position: relative;
  width: 470px;
  left: 15px;
  top: -20px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  &:hover {
    transform: translateY(-200px);

    &::before {
      transform: rotate(180deg);
    }
  }

  &::before {
    content: "";
    border-right: 15px solid transparent;
    border-bottom: 15px solid $text-faded;
    border-left: 15px solid transparent;
    display: inline-block;
    position: relative;
    top: -15px;
    width: 0;
    height: 0;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
  }

}

/* end work */