<!doctype html lang="en-US">
  {% include head %}
  <body>
    {% include ie9 %}
    {% include header %}
    <div class="content">
      {{ content }}
      </div>
    {% include footer %}
    {% include analytics %}
    <script src="../scripts/app.js" defer></script>
  </body>
</html>