<footer>

  <nav class="footer-menu">
    {% include menu %}
  </nav>
  <div class="notice">
    <a href="#" title=" Reasonable People, 2019">
    <img src="../images/rp-blk.png">
    <div>&copy; 2019</div>
    </a>
  </div>
  {% comment %} <div class="footer-social-media">
    {% include social %}
  </div> {% endcomment %}
</footer>