<footer>
  <nav class="footer-menu">
    {% include menu %}
  </nav>
<!--
  <div class="notice">
    <ul>
      <li>Copyright 2019</li>
      <li>Reasonable People</li>
    </ul>
  </div>
-->
  <div class="notice">
    <img src="../images/rp-blk.png">
    <div>&copy; 2019</div>
  </div>
  <div class="footer-social-media">
    {% include social %}
  </div>
</footer>