<footer>
  <nav class="footer-menu">
    {% include menu %}
  </nav>
  <div class="notice">
    <img src="../images/rp-blk.png">
    <div>&copy; 2019</div>
  </div>
  <div class="footer-social-media">
    {% include social %}
  </div>
</footer>