<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Maggie Lynn: Story Crafter for Hire</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="../styles/app.css">
  <link href="https://fonts.googleapis.com/css?family=Arvo|Raleway" rel="stylesheet">
</head>