<ul>
  <li><a href="../">About Maggie</a></li>
  <li><a href="/resume">Resume</a></li>
  <li data-work><a href="/work">Work</a></li>
</ul>
<ul class="work-submenu is-hidden">
  <li><a href="../work#websites">Web</a></li>
  <li><a href="../work#campaign">Campaign</a></li>
  <li><a href="../work#creative">Creative</a></li>
</ul>