<ul>
  <li><a href="../">About Maggie</a></li>
  <li><a href="/resume">Resume</a></li>
  <li data-work><a href="/work">Work</a></li>
</ul>
<ul class="work-submenu is-hidden">
  <li><a href="#">Web</a></li>
  <li><a href="#">Campaign</a></li>
  <li><a href="#">Creative</a></li>
</ul>